# Default
*                   text=auto

# Scripts
*.sql               text

# Configuration
.gitattributes      text
.gitignore          text

# Documentation
*.md                text diff=markdown
*.png               binary
